.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61c0bf;
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}

.logo {
  left: 30px;
  color: #393e46;
  font-family: 'Berkshire Swash', cursive;
  font-size: 24px;
}

.search {
  &-form {
    display: flex;
    border-radius: 20px;
    transition: box-shadow 250ms ease;
  }

  &-box {
    height: 40px;
    width: 300px;
    padding: 15px;
    // padding-top: 15px;
    border-radius: 20px 0 0 20px;
    border: 1px solid transparent;
    &:focus {
      outline: none;
    }
  }

  &-button {
    height: 40px;
    width: 40px;
    color: #393e46;
    background-color: #bbded6;
    border-radius: 0 20px 20px 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 150ms ease;
    &:hover,
    &:focus-visible {
      background-color: #94d3c4;
    }
    &:active {
      background-color: #58d1b5;
    }
  }
}

.focused {
  box-shadow: 0 0 0 4px #393e4680;
}
