.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61c0bf;
  // outline: 1px solid tomato;
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  position: absolute;
  left: 30px;
  color: #393e46;
  font-family: 'Berkshire Swash', cursive;
  font-size: 24px;
}

.search {
  &-form {
    display: flex;
    border-radius: 5px;
    transition: box-shadow 250ms ease;
  }

  &-box {
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid transparent;
  }

  &-button {
    height: 40px;
    width: 40px;
    color: #393e46;
    background-color: #bbded6;
    border-radius: 0 5px 5px 0;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 150ms ease;
    &:hover,
    &:focus-visible {
      background-color: #94d3c4;
    }
    &:active {
      background-color: #58d1b5;
    }
  }
}
.search-box:focus {
  outline: none;
}

.focused {
  box-shadow: 0 0 0 4px #393e4680;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.photo-card {
  width: calc((100% - 60px) / 4);
}

.info {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  &-item {
    margin: 0;
    width: calc((100% - 10px) / 2);
    font-size: 12px;
  }
}
